{% set header_date = 0 %}
{% extends 'base.html.twig' %}
{% block body %}
    <section class="downloads">
        <section class="callout-header text-center">
            <h4>{{ post.get_field('donors_callout_1_title') }}</h4>
            <p>{{ post.get_field('donors_callout_1_content') }}</p>
        </section>
        {% for row in rows %}
            <div class="row align-middle">
                <div class="small-12 medium-5 columns {% if loop.index % 2 == 0 %}medium-order-2{% endif %}">
                    <img src="{{ TimberImage(row.donors_alt_content_image).src }}" alt="{{ TimberImage(row.donors_alt_content_image).title }}">
                </div>
                <div class="small-12 medium-7 columns {% if loop.index % 2 == 0 %}medium-order-1{% endif %}">
                    <h4>{{ row.donors_alt_content_title }}</h4>
                    {{ row.donors_alt_content_content }}
                    {% if row.donors_button_text and row.donors_button_file %}
                        <a href="{{ row.donors_button_file }}" class="secondary button" target="_blank">{{ row.donors_button_text }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="header">
        <div class="box has-thumbnail" style="background-image:url('{{ TimberImage(post.get_field('donors_section_background_image')).src }}');">
            <div class="header-no-link">
                <img src="{{ TimberImage(post.get_field('donors_section_image')).src }}" alt="{{ TimberImage(post.get_field('donors_section_image')).title }}">
            </div>
        </div>
    </section>
    <section class="platinum">
        <section class="callout text-center">
            <h4>{{ post.get_field('donors_callout_2_title') }}</h4>
            <p>{{ post.get_field('donors_callout_2_content') }}</p>
            {% if post.get_field('donors_callout_2_button_file') and post.get_field('donors_callout_2_button_text') %}
                <a href="{{ post.get_field('donors_callout_2_button_file') }}" class="secondary button">{{ post.get_field('donors_callout_2_button_text') }}</a>
            {% endif %}
        </section>
        <div class="row align-center-middle icon-title">
            <div class="shrink column">
                <img src="{{ TimberImage(post.get_field('donors_platinum_icon')).src }}" alt="{{ TimberImage(post.get_field('donors_platinum_icon')).title }}" class="donor-icon">
            </div>
            <div class="shrink column">
                <h5>Platinum Level</h5>
                <h6>{{ post.get_field('donors_platinum_subtext') }}</h6>
            </div>
        </div>
        <div class="row small-up-1 medium-up-2 large-up-3 align-center text-center">
            {% for donor in platinum %}
                <div class="column">
                    {% if donor.donors_platinum_donor_url %}<a href="{{ donor.donors_platinum_donor_url }}" target="_blank">{% endif %}
                        <img src="{{ TimberImage(donor.donors_platinum_donor_image).src }}" alt="{{ TimberImage(donor.donors_platinum_donor_image).title }}" class="donor-logo">
                        <h5>{{ donor.donors_platinum_donor_text }}</h5>
                    {% if donor.donors_platinum_donor_url %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="gold">
        <div class="row align-center-middle icon-title">
            <div class="shrink column">
                <img src="{{ TimberImage(post.get_field('donors_gold_icon')).src }}" alt="{{ TimberImage(post.get_field('donors_gold_icon')).title }}" class="donor-icon">
            </div>
            <div class="shrink column">
                <h5>Gold Level</h5>
                <h6>{{ post.get_field('donors_gold_subtext') }}</h6>
            </div>
        </div>
        <div class="row small-up-2 medium-up-3 large-up-4 align-center text-center">
            {% for donor in gold %}
                <div class="column">
                    <img src="{{ TimberImage(donor.donors_gold_donor).src }}" alt="{{ TimberImage(donor.donors_gold_donor).title }}" class="donor-logo">
                    {% if donor.donors_gold_donor_url %}<a href="{{ donor.donors_gold_donor_url }}" target="_blank">{% endif %}
                        <img src="{{ TimberImage(donor.donors_gold_donor_image).src }}" alt="{{ TimberImage(donor.donors_gold_donor_image).title }}" class="donor-logo">
                        <h5>{{ donor.donors_gold_donor_text }}</h5>
                    {% if donor.donors_gold_donor_url %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="silver">
        <div class="row align-center-middle icon-title">
            <div class="shrink column">
                <img src="{{ TimberImage(post.get_field('donors_silver_icon')).src }}" alt="{{ TimberImage(post.get_field('donors_silver_icon')).title }}" class="donor-icon">
            </div>
            <div class="shrink column">
                <h5>Silver Level</h5>
                <h6>{{ post.get_field('donors_silver_subtext') }}</h6>
            </div>
        </div>
        <div class="row small-up-2 medium-up-3 large-up-3 align-center text-center">
            {% for donor in silver %}
                <div class="column">
                    {% if donor.donors_silver_donor_url %}<a href="{{ donor.donors_silver_donor_url }}" target="_blank">{% endif %}
                        <h5>{{ donor.donors_silver_donor_text }}</h5>
                    {% if donor.donors_silver_donor_url %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="copper">
        <div class="row align-center-middle icon-title">
            <div class="shrink column">
                <img src="{{ TimberImage(post.get_field('donors_copper_icon')).src }}" alt="{{ TimberImage(post.get_field('donors_copper_icon')).title }}" class="donor-icon">
            </div>
            <div class="shrink column">
                <h5>Copper Level</h5>
                <h6>{{ post.get_field('donors_copper_subtext') }}</h6>
            </div>
        </div>
        <div class="row small-up-2 medium-up-3 large-up-3 align-center text-center">
            {% for donor in copper %}
                <div class="column">
                    {% if donor.donors_copper_donor_url %}<a href="{{ donor.donors_copper_donor_url }}" target="_blank">{% endif %}
                        <h5>{{ donor.donors_copper_donor_text }}</h5>
                    {% if donor.donors_copper_donor_url %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="supporters">
        <section class="callout text-center">
            <h4>{{ post.get_field('donors_callout_3_title') }}</h4>
            <p>{{ post.get_field('donors_callout_3_content') }}</p>
            {% if post.get_field('donors_callout_3_button_text') and post.get_field('donors_callout_3_button_url') %}
                <a href="{{ post.get_field('donors_callout_3_button_url') }}" class="secondary button" target="_blank">{{ post.get_field('donors_callout_3_button_text') }}</a>
            {% endif %}
        </section>
        <div class="row">
            <div class="small-12 columns text-center">
                <h4>{{ post.get_field('donors_supporters_title') }}</h4>
            </div>
        </div>
        <div class="row small-up-2 medium-up-3 large-up-4 align-center text-center">
            {% for donor in supporters %}
                <div class="column">
                    <img src="{{ TimberImage(donor.donors_supporters_donor).src }}" alt="{{ TimberImage(donor.donors_supporters_donor).title }}" class="donor-logo">
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="donate">
        <section class="callout text-center">
            <h4>{{ post.get_field('donors_callout_4_title') }}</h4>
            <p>{{ post.get_field('donors_callout_4_content') }}</p>
        </section>
        <div class="row">
            <div class="small-12 columns text-center">
                {% if post.get_field('donors_donate_button_text') and post.get_field('donors_donate_button_url') %}
                    <a href="{{ post.get_field('donors_donate_button_url') }}" class="secondary button" target="_blank">{{ post.get_field('donors_donate_button_text') }}</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}