{% extends 'base.html.twig' %}
{% block body %}
    <section class="basic-content">
        <div class="navigation">
            <div class="row">
                <div class="column text-left">
                    {% if prev %}
                        <a href="{{ function('get_permalink', prev) }}"><i class="fa fa-angle-left"></i> Previous</a>
                    {% endif %}
                </div>
                <div class="column text-right">
                    {% if next %}
                        <a href="{{ function('get_permalink', next) }}">Next <i class="fa fa-angle-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row align-center">
            <div class="small-12 medium-10 large-8 columns">
                <div class="post">
                    <div class="video-wrapper">
                        <style>
                            .is-splash {
                                background-image: url("{{ TimberImage(post.thumbnail).src|resize(1920,1080) }}") !important;
                            }
                        </style>
                        <script async src="//flowplayer.com/7/flowplayer.js">
                            {
                                "brand":{"color":"#00a7c8","skin":"minimalist"},
                                "src":"{{ account }}/{{ post.get_field("video_id") }}",
                                {% if post.thumbnail %}"splash":true,{% endif %}
                                "analytics": "{{ ga }}"
                            }
                        </script>
                    </div>
                    {% if post.get_field("video_content") %}
                        <div class="content">
                            {{ post.get_field("video_content") }}
                        </div>
                    {% endif %}
                    {% if post.get_field("video_transcript") %}
                        <div class="medium-text-center">
                            <a class="secondary button transcript">View Transcript</a>
                        </div>
                        <div id="transcript" class="transcript-content">
                            {{ post.get_field("video_transcript") }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}